body {
    background-image: url(/colorful-background-with-tropical-plants-place-for-your-text-free-vector.jpg);
    background-position: 50%;
}

h1 {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 100px;
    color: rgb(124, 67, 38);
    left: 200px;
  
}
h3{
    font-size: xx-large;
}

.introduccion {
font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
font-style:initial;
font-size:larger;
position: relative;
left: 200px;
color: rgb(133, 74, 22);
}

img  {
position: relative;
width: 50%;
height: 50%;
left: 300px;
top: 50px;
bottom: 50px;
}

